@font-face {
    font-family: Norse_Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

button,
label,
input,
select {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 40%;
  padding: 0px;
  height: 30px;
}

#container {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
}

#right {
    width: 65vw;
    height: 100vh;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20vh;
    font-family: Norse_Bold;
    font-size: 5rem;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    padding: 15px;
}

#caption {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    color: white;
}

#intro {
    background-color: rgb(233, 233, 233);   
    height: 20rem;
    position: relative;
}

#intro_text1 {
    width: 45rem;
    font-size: 1.5rem;
    font-weight:bold;
    padding-left: 40px;
    position: absolute;
    bottom: 50px;
}

#intro_text2 {
    margin-top: 20px;
}

#form {
    margin-top: 20px;
    padding-left: 40px;
}

#form_greeting {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

#top_form_container {
    box-shadow:  8px 6px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

#bottom_form {
    margin-top: 40px;
}

#account_login {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 0.9rem;
    font-weight: bold;
}