@font-face {
    font-family: Norse_Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  p {
    margin: 0px;
  }
  
  button,
  label,
  input,
  select {
    font-family: inherit;
    font-size: 100%;
    margin: 0px;
    box-sizing: border-box;
    width: 40%;
    padding: 0px;
    height: 20px;
  }
  
  input {
    height: 30px;
  }
  
  label {
    display: block; 
    font-size: 90%;
  }
  
  label, input {
    width: 16rem;
  }
  
  input {
    border: 2px solid rgb(223, 223, 223);
  }
  
  input:focus {
    border: 2px solid rgb(119, 119, 119);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }
  
  #container {
    display: flex;
    flex-direction: row;
  }
  
  #left {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100vh;
    background-size: cover;
    background-image: url(background.jpg);
  }
  
  #right {
    width: 67vw;
    height: 100vh;
  }
  
  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20vh;
    font-family: Norse_Bold, serif;
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
  }
  
  #caption {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    color: white;
  }
  
  #right_top {
    background-color: rgb(233, 233, 233);
    height: 20rem;
    position: relative;
    box-shadow: 2px 2px 2px rgba(170, 170, 170, 0.4);
    display: flex;
    flex-wrap: wrap;
  }
  
  #intro_text1 {
    margin-top: 100px;
    width: 45rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 40px;
    bottom: 50px;
  }
  
  #intro_text2 {
    margin-top: 20px;

  }
  
  #right_middle {
    margin-top: 20px;
  }
  
  #form_greeting {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 40px;
  }
  
  #form_top_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 40px;
  }
  
  #form_top_section {
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  #account_login {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    padding-left: 40px;
  }
  
  #form_button {
    padding-left: 40px;
  }
  
  #button_submit {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    width: auto;
  }

  .error {
    width: 16rem;
    font-size: 80%;
    color: red;
    box-sizing: border-box;
    display: block;
  }

  .error.active {
    margin-top: 5px;
    padding: 0.3rem;
  }